@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" name="name" placeholder="John/Jayne"><br>
  <select name="location" id="cars">
  <option value="San Jose">San Jose</option>
  <option value="seattle">Seattle</option>
  </select><br>
  <select name="language" id="cars">
  <option value="C#">C#</option>
  <option value="Python">Python</option>
  </select><br><br>
  <textarea name="comment" placeholder="Comment"></textarea><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>